---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: tools
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "ceph-block"
  resources:
    requests:
      storage: 10Gi
