---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  dependsOn:
    - name: emqx
      namespace: home
  values:
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: rpi4-poe-1
      tolerations:
        - key: "iot-control"
          operator: "Equal"
          value: "active"
          effect: "NoSchedule"
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: "2024.3.2"
            env:
              TZ: "America/Chicago"
              ESPHOME_DASHBOARD_USE_PING: "true"
              ESPHOME_DASHBOARD_RELATIVE_URL: "/"
    persistence:
      config:
        enabled: true
        existingClaim: local-esphome-pvc
        globalMounts:
          - path: /config
    service:
      main:
        controller: main
        ports:
          http:
            port: 6052
    ingress:
      main:
        enabled: true
        className: "nginx-internal"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "ESPHome"
          hajimari.io/info: ESPHome Device Dashboard
          hajimari.io/icon: "simple-icons:esphome"
          hajimari.io/targetBlank: "true"
          # authentik.sparks.codes/enabled: "true"
        hosts:
          - host: esphome.sparks.codes
            paths:
              - path: "/"
                pathType: "Prefix"
                service:
                  identifier: main
                  port: http
        tls:
          - secretName: acme-crt-secret-sparks-codes
            hosts:
              - esphome.sparks.codes
