---
- hosts: servers
  become: true
  tasks:
    - name: Correct Timezone
      shell: TZ="America/Chicago" ln -snf /usr/share/zoneinfo/$TZ /etc/localtime

    - name: Install Latest Packages
      apt:
        update_cache: yes
        name: "*"
        state: latest

    - name: Install Packages
      apt:
        pkg:
          - lvm2
          - nfs-common

    - name: Start K3s Worker
      shell: curl -sfL https://get.k3s.io | K3S_URL='https://10.10.9.1:6443' K3S_TOKEN='' sh -
