---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: traefik
      version: 39.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
      interval: 15m
  values:
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
          - web
    providers:
      kubernetesGateway:
        enabled: true
      kubernetesIngress:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    service:
      type: LoadBalancer
      externalTrafficPolicy: Cluster
      loadBalancerIP: 10.10.201.1
